{{!< default}}


	<article class="fullpost {{post_class}}">
		{{! Each post has the blog logo at the top, with a link back to the home page }}      

      {{! Everything inside the #post tags pulls data from the post }}
      {{#post}}

      {{! Everything below outputs content of the the post which has been published }}
      <h1 class="post-title page-header">{{{title}}}</h1>

              <div class="post-meta text-muted">
                <span class="glyphicon glyphicon-calendar"></span>
                <time class="icon-calendar" datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>
                {{#if tags}}<span class="glyphicon glyphicon-tags"></span>
                {{#foreach tags}}
                <span class="label label-default">{{name}}</span>
                {{/foreach}}
                {{/if}}
              </div>
              <div class="post-meta">
              <span>{{metadesc}}</span>
              </div>
              <section class="post-content">
              	{{content}}
              </section>

      <footer class="post-footer">

      	{{#if author}}
          
          		<section class="author">              
                <div class="well">
            			<h4>{{author.name}}</h4>
            			<p class="text-muted">{{author.bio}}</p>
                </div>
          		</section>
      	{{/if}}
<!--
          	<section class="share">
              div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              Insert Facebook Share Button
              </div>
              div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              Insert Twitter Share Button
              </div>
              div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              Insert Google+ Share Button
              </div>
          	</section>
-->
      </footer>

      {{/post}}
</article>
